* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9eded;
}
.errorButton{
        width: 10vw;
        background-color: #850000;
        padding: 20px;
        margin-top: 20px;
        border-radius: 30px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all 0.3s ease-in;
}
.errorButton:hover{
    background-color: #6e0101;
}
.errortype {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.button{
    margin-top: 20px;
}
.lock {
    border-radius: 5px;
    width: 55px;
    height: 45px;
    background-color: red;
    animation: dip 1s;
    animation-delay: (2s - .5);
    margin-left: auto;
    margin-right: auto;

    &::before,
    &::after {
        content: '';
        position: absolute;
        border-left: 5px solid red;
        height: 20px;
        width: 15px;
        left: calc(50% - 12.5px);
    }

    &::before {
        top: -30px;
        border: 5px solid red;
        border-bottom-color: transparent;
        border-radius: 15px 15px 0 0;
        height: 30px;
        animation: lock 2s, spin 2s;
    }

    &::after {
        top: -10px;
        border-right: 5px solid transparent;
        animation: spin 2s;
    }
}

@keyframes lock {
    0% {
        top: -45px;
    }

    65% {
        top: -45px;
    }

    100% {
        top: -30px;
    }
}

@keyframes spin {
    0% {
        transform: scaleX(-1);
        left: calc(50% - 30px);
    }

    65% {
        transform: scaleX(1);
        left: calc(50% - 12.5px);
    }
}

@keyframes dip {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}