.historyRight {
    display: flex;
    flex-direction: column;
    margin-left: 285px;
}

.historyTable {
    margin: 20px;
    padding: 10px;
    border: none;

}

.coloredBg:nth-child(even) {
    background-color: #ffdcdccb;
}

.historyErrorMessage {
    padding: 20px;
}

.MuiButton-contained {
    text-transform:capitalize !important;
  }