/* 246b38 -green
ffe8b0-yellow
*/

.homeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100vw; */
  overflow-x: hidden;
}

.homeRight {
  margin-left: 265px;
  padding: 0 40px;
}

.donor {
  display: flex;
  justify-content: space-between;
}

.donorList {
  width: 100%;
  height: 100%;
  /* padding-bottom: 1000px; */
}

.submitRequest {
  width: 94%;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.submitRequest button {
  /* margin-bottom: 20px; */
  padding: 18px 50px;
  border: 2px solid #246b38;
  border-radius:25px;
  background-color: #246b38;
  text-align: center;
  font-weight: 400;
  font-size: larger;
  color: #ffe8b0;
  align-self: flex-start;
  transition: all 0.3s ease;
  width: 90%;
}

.submitRequest button:hover {
  color: #246b38;
  background-color: #ffe8b0;
  cursor: pointer;
}

.loop {
  color: #850000;
  margin-left: auto;
  cursor: pointer;
  transition: 90ms ease-in;
}

.loop:hover {
  color: #e40e0e;
}

.tabBox {
  margin-top: 20px;
  /* border-radius: 20px; */
  /* padding: 24px; */
  height: 100vh;
  /* border: 2px solid rgba(0, 0, 0, 0.251);
   */
  background: rgb(238, 238, 238);
  overflow: scroll;
  /* margin-bottom: 20px; */
}

.tabBox::-webkit-scrollbar {
  display: none;
}

.detailbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  /* margin: 20px; */
}

.donorDistance {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  color: #829612;
}

.donorName h2 {
  color: #206232;
  border: none;
  font-weight: 600 !important;
  font-size: 1.1rem;
}

.donorAddress {
  color: rgba(0, 0, 0, 0.354);
}

.refreshButton {
  all: unset;
  padding-left: 227px;
}

.map-area {
  padding: 20px;
  /* border: 1px solid red; */
}

.map-area canvas {
  border-radius: 20px;
}

.map-area img {
  width: 40px;
}
.requestDonorButton {
  padding: 18px 40px;
  border: 2px solid red;
  border-radius: 80px;
  background-color: red;
  text-align: center;
  font-weight: 400;
  font-size: larger;
  color: #fff;
  align-self: flex-start;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 50px;
}
.requestDonorButton:hover {
  color: red;
  background-color: white;
  cursor: pointer;
}

.map-area-heading {
  color: rgb(93, 93, 93);
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.detailbox.hospital {
  display: flex;
  justify-content: space-between;
}

.detailbox.hospital .donorDetails {
  width: 50%;
}

.tab-panel {
  max-height: 240px;
  overflow-y: scroll;
}