.editContainer {
    display: flex;
}

.editContainerLeft {

    background: #850000;
    color: White;
    border: 2px solid #850000;
    width: 35vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.editContainerLeft h1 {
    background-color: #850000;
}

.editContainerRight {
    margin-top: 20px;
    overflow-y: auto;
    color: black;
    width: 65vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin: 5px;
    width: 500px;
    height: 80vh;
    overflow-y: scroll;
}

.form-container::-webkit-scrollbar {
    display: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 5px;
}

.edit_text {
    margin-top: 5px;
    margin-bottom: 20px;
}

.errorProfileMsg {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}