.historyRight {
    display: flex;
    flex-direction: column;
    margin-left: 285px;
    padding: 0 18px;
}

.historyTable {
    margin: 20px;
    padding: 10px;
    border: none;

}

