.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 400px;
}

.auth-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

.logo-h1 {
    font-size: 3.2rem;
  font-family: "Caprasimo", cursive;
}

.input-label {
  font-size: 1rem;
  font-weight: 400;
}

.Email,
.Password {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin: 8px 0;
}

.form-container input {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 14px 16px;
  background-color: #ecebeb;
  color: black;
  border: 1px solid #ffffff;
  transition: all 0.3s linear;
}

.form-container input:focus {
  background-color: white;
  color: black;
  transition: 100ms ease-in-out;
  border: 1px solid #40339f;
}

.errors {
  color: red;
  font-size: 0.7rem;
}

.input-button {
  width: 100%;
  background-color: #40339f;
  padding: 14px;
  margin-top: 20px;
  border-radius: 80px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease-in;
}

.input-button:hover {
  background-color: #322785;
}

.form-bottom {
  text-align: center;
  margin-top: 30px;
}

.form-bottom a {
  color: #40339f;
  text-decoration: underline;
}

.form-bottom a:hover {
  color: #342892;
  text-decoration: underline;
}

.container_right.login::-webkit-scrollbar {
  display: none;
}
