@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

:root {
  --primary: #850000;
  --secondary: #6e0101;
  --white: #fff;
  --lightwhite: #ffffffca;
  --lightgreen: #246b38;
  --lightyellow: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
